{block content}
<h1>Upravit příspěvek</h1>
{control postForm}

<hr>
<section class="post-delete">
	<h2>Smazat příspěvek</h2>
	<p>Pokud chcete příspěvek odstranit, klikněte na tlačítko níže.</p>
	{control deleteForm}
</section>

  
